#mainNav {
  font-size: 1.2rem;
}

#mainNav .navbar-brand {
  font-size: 1.5rem;
}

* {
  font-family: 'Lato', sans-serif;
}

#header .FN_header-title {
  color: white;
  font-weight: bold;
  font-size: calc(1.1rem + 3vw);
  z-index: 3;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-shadow: 0 3px 6px rgba(255, 0, 0, 0.16), 0 3px 6px rgba(255, 0, 0, 0.24);
  animation-name: text-show-animation;
  animation-duration: 2s;
}

#header .FN_header-text {
  color: white;
  font-weight: bold;
  z-index: 3;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 400px;
  padding: 10px;
  border-radius: 0.2em;
  background-color: rgba(255, 0, 0, 0.5);
  animation-name: text-show-animation;
  animation-duration: 2s;
}

#header .FN_header-img {
  width: 100% !important;
  height: 100vh;
  background: url("../img/random.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header .FN_header-img:after {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  content: "";
  background-color: black;
  opacity: 0.5;
}

@keyframes text-show-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-title {
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background-color: #ff0000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 60px;
}

.FN_indexp-bullets .FN_title {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

.FN_indexp-bullets .text-justify {
  font-size: 0.85rem;
}

#FN_main-component {
  margin-top: 60px;
  padding: 0 16px;
}

#FN_main-component .row > div {
  padding: 0;
}

#FN_main-component .FN_main-component-item {
  height: 300px;
  border: solid red 1px;
  background-color: white;
  color: #e83228;
}

#FN_main-component .FN_main-component-item:hover {
  background-color: #E83228;
  color: white;
}

#FN_main-component .FN_main-component-item:hover .FN_comp_underline {
  background-color: white;
}

#FN_main-component .FN_main-component-item:hover .FN_comp-icon i, #FN_main-component .FN_main-component-item:hover .FN_comp_underline {
  transform: scale(1.5);
}

#FN_main-component .FN_main-component-item .FN_comp-icon {
  font-size: 70px;
}

#FN_main-component .FN_main-component-item .FN_comp-icon i {
  transition: transform .2s;
}

#FN_main-component .FN_main-component-item .FN_comp_underline {
  width: 8vw;
  height: 6px;
  background-color: #E83228;
  border-radius: 0.4rem;
  margin: auto;
  transition: transform .2s;
}

#FN_main-component .FN_main-component-item .FN_comp_title {
  font-size: 40px;
}

@media (max-width: 768px) {
  .FN_comp_underline {
    width: 16vw !important;
  }
}

/*
#footer-main-content{
  ul{
    padding-top: 0;
    list-style-type: none!important;

    li {
      a {
        padding-left: 0;
        padding-bottom: 10px;
        padding-top: 7px;
        text-decoration: underline;
      }
    }
  }
}

footer{
  background-color: #5D5D5D!important;
  color: white;
  #copyright{
    hr{
      color: white;
      background-color: white;
    }
  }

}
*/
#contact-page-details {
  background-color: #E85245;
  padding-top: 10px;
}

#contact-page input[type=text], #contact-page input[type=tel], #contact-page input[type=email] {
  width: 100%;
  border-width: 0 0 1px 0;
}

#contact-page textarea {
  width: 100%;
  border-width: 0 0 1px 0;
  height: 150px !important;
}

#contact-page .form-control:focus {
  box-shadow: none;
}

#contact-page .padding-top {
  padding-top: 10px !important;
}

.bmd-label-floating {
  color: #3e3e3e !important;
}

#contact-map {
  width: 100%;
}

.contact-right-side {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  padding-left: 5% !important;
  padding-right: 5% !important;
  position: absolute;
  z-index: 10;
}

.contact-right-side span {
  color: rgba(0, 0, 0, 0.75);
}

.contact-right-side hr {
  background-color: #FF0000;
}

.map-padding {
  padding-top: calc(300px + 30vh) !important;
}

.map-padding2 {
  padding-top: calc(580px + 6vh) !important;
}

.some-cont2 {
  position: absolute;
  z-index: 1;
}

.cont-box {
  margin-top: 10px;
  padding-top: calc(30px + 1vh);
  height: calc(180px + 2vh);
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#contact-map {
  margin-top: 100px !important;
  height: 80vh !important;
}
